
.ipynb_checkpoints/
__pycache__/
log/
**/archive/
repos/
data/preprocess/
data/parts/360p/
data/qa-generation/
data/graph/status/
src/qa-verification/frontend/public/raw
src/qa-verification/frontend/public/status

**/node_modules/
**/build/
output/

src/graph-annotation/frontend/public/*
!src/graph-annotation/frontend/public/index.html
src/qa-annotation/frontend/public/*
!src/qa-annotation/frontend/public/index.html
src/qa-verification/frontend/public/*
!src/qa-verification/frontend/public/index.html
