accelerate
anthropic
bitsandbytes
datasets
einops
flask
google-generativeai
gunicorn
litellm
openai
opencv-python
plotly
pre-commit
pydot
sentence-transformers
spacy
statsmodels
together
transformers
vllm
yt-dlp
